body {
    font-family: Times New Roman, serif;
    background: white;
    color: black;
}

nav, footer {
    display: none;
}

header {
    text-align: center;
}

section {
    margin-bottom: 15px;
}

a::after {
    content: " (" attr(href) ")";
}