@use 'variables' as *;


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style {
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
}